img {
  height: 200px;
  width: 200px;
}

body {
  font-family:fantasy
}

h1 {
  font-family:sans-serif;
}

main {
  width: 90%;
  margin: auto 0;
}

nav {
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em top bottom 15px, 3em left right 35px;

}

nav {
  margin-bottom: 1em 15px;
} 

a {
  text-decoration: none;
  color: red;
}

h4 h3 {
  font-size: 15px;
  text-align: center;
}

.Foods article {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between;
  padding: 15px; */
  
} 

.Foods div {
  width: 150px;
  /* padding: 1em; */
  background-color: rgb(195, 255, 185);
  border: dashed 2px red;
}

.Foods img {
  width: 150px
}

.Home {
  text-align:center;
  font-family: fantasy;  
}

.anabrolic {
  font-size: 40px;
}

.Home {
font-size: 100px;
}

.NewFood {
  text-align: center;
}

.ProgressBar {
  width: 100px;
}

.App {
  display: grid;
}
